.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Or set a specific height for the container */
}
.contact-us-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us-img img {
    height: 200px;
}
.contact-detail-container{
    height: 550px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC470;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-details{
    height: 450px;
    width: 500px;
    margin: 150px 0px 150px 230px;
    
}
.contact-details h3{
    color: #8B322C;
    font-size: 30px;
    font-weight: 600;
}
.details{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.details-img{
    height: 40px;
}
.details-info{
    margin-left: 15px;
}
.details-info p{
    color: #8B322C;
    font-size: 16px;
    padding-bottom: 3px;
}
.details-info a{
    text-decoration: none;
    color: #e8533f;
    font-size: 15px;
}
.help-heading{
    padding: 10px;
    color: #8B322C;
    font-size: 20px;
    font-weight: 600;
}
.contact-form{
    height: 450px;
    width: 500px;
    box-shadow: 10px 10px 20px 5px #d99f4d;
    margin: 50px 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form:hover{
    box-shadow: 15px 15px 20px 10px #c28e45;
}
.form-content{
    padding: 15px;
    margin: 5px 10px;
    width: 400px;
    border-radius: 5px;
    border: none;
    color: #8B322C;
    background-color: white;
}
.form-content:hover{
    border: solid 2px #8B322C
}
.send-btn{
    background-color: #8B322C;
    color: #d99f4d;
    padding: 7px 25px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}
.send-btn:hover{
    background-color: #d99f4d;
    color: #8B322C;
    box-shadow: 5px 5px 10px 2px;
}