.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #f38779;
    height: 600px;
}
.pets-img{
    padding-top: 0;
    margin-top: 0;
    height: 600px;
}
.header-content{
    padding: 180px 20px 0 100px;
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    width: 700px;
}
.header-content h1{
    font-size: 45px;
    color: #7e241e;
}
.header-content p{
    margin-top: 20px;
    color: #d42e18;
    font-size: 17px;
    line-height: 25px;
    padding-left: 10px;

}
.view-more-btn-container{
    margin-top: 30px; 
    margin-left: 10px;
    border: none;
    background-color: #8B322C;
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;  
}
.view-more-btn{
    color: #FFC470;
    text-decoration: none;
}
.category-container{
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC470;
    height: 500px;
    width: 100%;
}
.Trending-categories{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #e8533f;
}
.category-container h3{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #7e241e;
}
.pets-category-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 80%;
    margin: 0 auto;
}
.category{
    height: 200px;
    width: 200px;
    margin: 10px auto;
}
.category img{
    height: 160px;
    width: 200px;
    border-radius: 50%;
}
.category p{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #7e241e;
}