.pets-image-container{
    padding-top: 10px;
    background-color: #FFC470;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}
.container-height{
    height: 450px;
}
.pets-images{
    position: relative;
    bottom: 70px;
}
.pets-images img{
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    border: #7e241e 3px dashed;
}
.pets-images a{
    text-decoration: none;
}
.new-food-heading{
    padding-top: 50px;
}
.new-trending-products-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC470;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}
.new-products-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    width: 85%;
    margin: 40px 20px;
    box-shadow: 10px 10px 20px 5px #d99f4d;
    border-radius: 15px;
}
.new-product-card{
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: -4px 4px 10px 1px rgb(67, 66, 66);
    margin: 20px;
}
.new-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.new-product img{
    height: 150px;
    align-items: center;
}
.img-div{
    align-items: center;
    display: block;
    margin: 0 auto;
}
.new{
    padding: 3px 2px 3px 12px;
    height: 30px;
    border: none;
    background-color: #7e241e;
    color: #FFC470;
    border-radius: 25px 0 0 25px; 

}
.price{
    padding: 10px 10px 5px 15px;
    color: #7e241e; 
    font-size: 18px;
    font-weight: 600;
}
.product-name{
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    color: #d42e18;
}
.rating{
    padding: 10px;
    width: 80px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product-btn{
    background-color: #7e241e;
    color: #FFC470;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
}
.product-btn:hover{
    background-color: #FFC470;
    color: #7e241e;
    box-shadow: 2px 2px 20px 2px gray;
}
.food-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC470;
    height: 600px;
}
.food-heading{
    text-align: center;
}
.food-heading h1{
    color: #FFC470;
    font-size: 35px;
    text-align: center;
    padding: 20px 30px;
    background-color: #7e241e;
    display: inline-block;
    border-radius: 0px 80px 0px 80px;
    box-shadow: -5px 5px 20px 2px #7e241e;
    margin: 40px auto 40px auto;
    align-items: center;
}
.food-card-cantainer{
    overflow: hidden;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.food-card{
    background-color: white;
    box-shadow: -4px 4px 10px 1px rgb(67, 66, 66);
    height: 300px;
    width: 200px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
}
.food-card img{
    margin-top: 10px;
    height: 150px;
}
.food-card button{
    padding: 5px 20px;
    background-color: #7e241e;
    color: #FFC470;
    border: none;
    border-radius: 20px;
    margin: 20px;
}

/* media queries for mobile device */
@media screen and (max-width:400px){
    .pets-image-container{
        display: none;
    }
    .new-food-heading{
        padding-top: 30px;
    }
    .new-food-heading{
        font-size: 25px;
    }
    .new-products-container{
        height: auto;
        margin: 20px;
    }
    .new-product-card{
        height: 300px;
        width: 230px;
        margin: 20px;
    }
    .new-product{
        padding-top: 15px;
    }
    .new-product img{
        height: 120px;
    }
    .new{
        padding: 3px 2px 3px 12px;
        height: 25px;
    }
    .price{
        padding: 10px 10px 5px 15px;
        font-size: 16px;
    }
    .product-name{
        font-size: 15px;
    }
    .rating{
        padding: 10px;
        width: 70px;
    }
    .food-container{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #FFC470;
        height: auto;
        padding: 10px;
    }
    .food-heading h1{
        font-size: 20px;
        padding: 10px 25px;
        margin: 10px auto;
    }
    .food-card-cantainer{
        overflow: hidden;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .food-card{
        background-color: white;
        box-shadow: -4px 4px 10px 1px rgb(67, 66, 66);
        height: 250px;
        width: 200px;
    }
    .food-card img{
        margin-top: 10px;
        height: 120px;
    }
    .food-card button{
        margin: 10px;
    }
}