.our-services-img{
    margin: 30px 90px 0px 0px;
}
.our-services-img img{
    height: 350px;
}
.services-container{
    height: 550px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC470;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services-card-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;

}
.service-card{
    height: 280px;
    width: 230px;
    box-shadow: 10px 10px 20px 5px #d99f4d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-card img{
    padding: 0px 0px 10px 0px;
    height: 80px;
}
.service-card h4{
    font-size: 18px;
    color: #8B322C;
    text-align: center;
}
.service-card p{
    margin:10px;
    font-size: 15px;
    color: #d42e18;

}