*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: #f38779;
} */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #4793AF;
}
.logo img{
    margin-left: 50px;
    height: 150px;
}
.nav-menus{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
}
.nav-menus a{
    margin: 0 30px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #8B322C;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-menus a:hover{
    background-color: #8B322C;
    color: #FFC470;
    padding: 3px 15px;
}
.footer{
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4793AF;
    color: #8B322C;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.discount-container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    background-color: #f38779;
}
.discounts-info{
    margin: 180px 0 0 100px;
}
.available{
    font-size: 18px;
    color: #d42e18;
}
.discounts-info h3{
    margin-top: 10px;
    font-size: 40px;
    color: #7e241e;
}
.desc{
    margin-top: 5px;
    font-size: 16px;
    color: #d42e18;
}
.shop-now-btn{
    margin-top: 20px;
    border: none;
    background-color: #8B322C;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;  
}
.shop-now-btn:hover{
    background-color: #FFC470;
    box-shadow: 5px 5px 20px 2px #7e241e;
    padding: 10px 30px;
}
.shop-now-btn a{
    color: #FFC470;
    text-decoration: none;
}
.shop-now-btn a:hover{
    color: #7e241e;
    text-decoration: none;
}
.discount-section-img {
    height: 400px;
    margin-right: 70px;
}

/* Media queries for mobile device */
@media screen and (max-width:400px) {
    .navbar{
        display: flex;
        flex-direction: row;
        height: 50px;
    }
    .logo img{
        height: 70px;
        margin-left: 5px;
    }
    .home{
        display: none;
    }
    .nav-menus{
        padding-right: 5px;
    }
    .nav-menus a{
        margin: 0 7px;
        font-size: 14px;
    }
    .nav-menus a:hover{
        padding: 3px 5px;
    }
    .footer{
        height: 50px;
        font-size: 13px;
    }
    .discount-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content:start;
        width: 100%;
        height: 700px;
        padding-bottom: 10px;
    }
    .discounts-info{
        margin: 10px;
    }
    .available{
        padding: 0px 10px;
        font-size: 14px;
    }
    .discounts-info h3{
        margin-top: 5px;
        font-size: 25px;
        padding: 0px 10px;
    }
    .desc{
        margin-top: 5px;
        font-size: 13px;
        padding: 0px 10px;
    }
    .shop-now-btn{
        margin-top: 15px;
        padding: 7px 20px;
        font-size: 15px; 
    }
    .shop-now-btn:hover{
        background-color: #FFC470;
        box-shadow: 5px 5px 20px 2px #7e241e;
        padding: 10px 30px;
    }
    .discount-section-img img{
        height: 300px;
    }
}